$previewWidth: 960px;
$previewHeight: 204px;

#preview {

  padding: 40px 0;
  margin: 20px auto;
  position: relative;

  img {
    position: absolute;
    opacity: .7;
    transform: scale(0.94);
    top: 33px;
    left: -33px;
    z-index: 2;
  }

  figure {
    width: $previewWidth;
    height: $previewHeight;
    position: relative;
    margin: 0 auto;
    z-index: 1;


    /*> img {
      position: absolute;
      top: 0;
      left: 0;
    }*/
  }



}
