
<aside class="save-link action-window" id="save-link">
  <input type="text" class="input-save-link" value="" readonly>
  <p>
    Copy this link to come back to your design later.
    <a href="#" id="close-save-link">Close</a>
  </p>
</aside>

<div class="action-buttons">

  <button id="btn-save" class="primary" data-target="save-link">Save</button>

</div>