$previewWidth: 960px;
$previewHeight: 204px;

#preview {

  padding: 40px 0;
  border: 1px solid $lightGrey;
  margin: 20px auto;
  border-radius: 5px;

  figure {
    width: $previewWidth;
    height: $previewHeight;
    position: relative;
    margin: 0 auto;
    > img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }



}