header {
  background: #F2F2F2;
  border-bottom: 1px solid #DDD;

  hgroup {
    overflow: auto;
    padding: 10px;

  }
  h1 { 
    float: left; 
    small {
      font-size: 10px;
      color: #999;
      font-weight: normal;
    }
  }
  h2 { float: right; }
}