body {
  background: #FFF;
  color: $black;
}
a { 
  color: $secondary;
  text-decoration: none;
  transition: color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in 0;
}
a:hover {
  text-decoration: underline;
  color: $secondaryHover;
}
button.primary {
  position: relative;
  display: inline-block;
  padding: 7px 30px;
  font-size: 13px;
  font-weight: bold;
  color: $black;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid $primary;
  vertical-align: middle;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in 0;
}
button.primary:hover {
  background: $primaryHover;
}
button:focus { 
    outline: none; 
}